<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Atlas of Atlantis</title>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]"/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["css/server-doamapper.css"]"/>
    <link rel="stylesheet" href="@Assets["_content/DOAMapper.Client/css/dragon-theme.css"]"/>
    <link rel="stylesheet" href="@Assets["DOAMapper.styles.css"]"/>
    <ImportMap/>
    <link rel="icon" type="image/jpeg" href="favicon.ico"/>
    <link rel="apple-touch-icon" href="logo.jpeg"/>
    <link rel="shortcut icon" type="image/jpeg" href="logo.jpeg"/>
    <HeadOutlet/>
</head>

<body>
<GlobalErrorBoundary>
    <Routes/>
</GlobalErrorBoundary>
<script src="_framework/blazor.web.js"></script>
</body>

</html>